<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Descartes_Square.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Descartes_Square.Properties.Settings>
            <setting name="Sav1" serializeAs="String">
                <value>Пуст</value>
            </setting>
            <setting name="Sav2" serializeAs="String">
                <value>Пуст</value>
            </setting>
            <setting name="Sav3" serializeAs="String">
                <value>Пуст</value>
            </setting>
            <setting name="Sav4" serializeAs="String">
                <value>Пуст</value>
            </setting>
        </Descartes_Square.Properties.Settings>
    </userSettings>
</configuration>